.App{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.leftColumn, .rightColumn{
  width: calc(80% / 2 - 30px);
  min-height: 400px;
  padding: 10px;
  margin: 0;
  border: 1px solid #cdd4dc;
}

.select{
  list-style: none;
  padding: 10px 0;
}

.select_item{
  text-align: center;
  padding: 0 0 10px ;
  border: 1px solid #ccc;
}

#chosen-image{
  width: 100%;
}